{% extends 'navbar.html' %}
{% load static %}
{% block title %} index {% endblock title %}
{% block css %}
{% endblock css %}
{% block body %}

<div class="main-wrapper">
    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Profile</h4>
                    <h6>User Profile</h6>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="profile-set">
                        <div class="profile-head">
                        </div>
                        <div class="profile-top">
                            <div class="profile-content">
                                <div class="profile-contentimg">
                                    <img src="{% static 'assets/img/customer/customer5.jpg' %}" alt="img" id="blah">
                                    
                                    <div class="profileupload">
                                        <input type="file" id="imgInp" disabled>
                                        <a href="javascript:void(0);"><img src="{% static 'assets/img/icons/edit-set.svg' %}"
                                                alt="img"></a>
                                    </div>
                                </div>
                                <div class="profile-contentname">
                                    <h2>{{ first_name }} {{ last_name }}</h2>
                                    
                                </div>
                            </div>
                          
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" value="{{ first_name }}" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" value="{{ last_name }}" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" value="{{ email }}" readonly>
                            </div>
                        </div>
                      
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" value="{{ username }}" readonly>
                            </div>
                        </div>
                        
                        <div class="col-12">
                            {% comment %} <a href="{% url 'index' %}" class="btn btn-submit me-2">Submit</a> {% endcomment %}
                            <a href="{% url 'addquotation' %}" class="btn btn-cancel">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}